@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sushi Restoran</h1>
    <p class="lead">Dobro dosli u aplikaciju za Sushi Restoran</p>
    <p>@Html.ActionLink("Lista Jela", "Index", "Jelo", null, new { @class="btn btn-primary btn-lg" })</p>
</div>
